
    * {
        margin: 0px;
        padding: 0px;
        font-family: "Stack Sans Headline", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    header{
        height: 150px;
        background-color: rgb(255, 214, 247);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-style: dotted;
        border-color: rgb(246, 126, 226);
        border-width: 3px;;
        color: white;

        h1 {
            padding: 20px;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250px;
            background-color: rgb(211, 179, 204);
        }
    }
    main {
        padding:20px;
        background-image: url(https://64.media.tumblr.com/fad5acf8e8720fe9096aa575117d48cd/tumblr_oedw5v5oev1rh2n3qo1_500.gif);
        
    }
    .section
        {
           background-color: rgb(195, 255, 235);
           border-radius: 25px;
           padding: 20px;
           margin: 25px;
           border-style: dashed;
           border-width: 5px;
           border-color: rgb(90, 169, 142);
           
           h2, h3{
                color: rgb(31, 124, 93);
                margin-bottom: 2px;
           }
           b {
            color: rgb(33, 91, 72);
           }

           .subsection {
            margin: 15px;
            padding-left: 10px;
           }
           pre {
            border-width: 2px;
            border-style:solid;
            border-radius: 25px;
            border-color:rgb(33, 91, 72);
            padding: 15px;
            background-color: rgb(136, 210, 184);;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: center;
           }
           .showoff {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 30px;
           }
        }
    